.category__div {
	background-image: linear-gradient(to right, #31aae1 0%, #265ac2 100%);
	padding: 2vh;
	margin: 3vh;
	border-radius: 15px;
	box-shadow: 0 1px 10px #585858;
	position: relative;
}

.category__info {
	display: flex;
}

.category__text{
	margin-bottom: 1vh;
}

.category__svg {
	width: 25vw;
}

.checkbox {
	position: absolute;
	top: 2vw;
	right: 2vw;
}

.divider {
	background: #ffffff;
	width: 2px;
	/* height: 150px; */
	margin: 5px 14px;
}

.subcategory__div {
	display: flex;
	justify-content: space-evenly;
}

.next__div{
	text-align: center;
	margin-bottom: 4vh;
}

.next__link {
	text-decoration: none;
}

.button__next{
	width: 60vw;
	height: 55px;
	border-radius: 30px;
	border: none;
	font-size: large;
	font-weight: bold;
	color: white;
	background-image: linear-gradient(to right, #31aae1 0%, #265ac2 100%);
	box-shadow: 0 1px 5px #585858;
}