.category__div {
	background-image: linear-gradient(to right, #31aae1 0%, #265ac2 100%);
	padding: 10px;
	margin: 20px 4vw;
	border-radius: 15px;
	box-shadow: 0 1px 10px #585858;
	position: relative;
}

.category__info {
	display: flex;
}

.category__text{
	margin: 10px 0;
}

.category__h1{
	font-size: 130%;
	margin-bottom: 5px;
}

.category__p{
	font-size: 80%;
	margin-right: 5px;
}

.category__svg {
	width: 25vw;
}

.checkbox {
	position: absolute;
	top: 4px;
	right: 4px;
}

.divider {
	background: #ffffff;
	width: 2px;
	/* height: 150px; */
	margin: 5px 14px;
}

.subcategory__div {
	display: flex;
	justify-content: space-evenly;
}


.subcategory__button{
  height: 45px;
  width: 40vw;
  border-radius: 10px;
	border: none;
  font-size: 95%;
	font-weight: bold;
	color: white;
	background-image: linear-gradient(to right, #31aae1 0%, #265ac2 100%);
	box-shadow: 0 1px 5px #585858;
}

.next__div{
	text-align: center;
	margin-bottom: 4vh;
}

.next__link {
	text-decoration: none;
}

.button__next{
	width: 60vw;
	height: 55px;
	border-radius: 30px;
	border: none;
	font-size: large;
	font-weight: bold;
	color: white;
	background-image: linear-gradient(to right, #31aae1 0%, #265ac2 100%);
	box-shadow: 0 1px 5px #585858;
}
