.categoryright__div {
	background-image: linear-gradient(to right, #31aae1 0%, #265ac2 100%);
	padding: 2vh;
	margin: 3vh;
	border-radius: 20px;
	box-shadow: 0 1px 10px #585858;
	position: relative;
}

.categoryleft__div {
	background-image: linear-gradient(to right, #265ac2 0%, #31aae1 100%);
	padding: 2vh;
	margin: 3vh;
	border-radius: 20px;
	box-shadow: 0 1px 10px #585858;
	position: relative;
}

.category__info {
	display: flex;
}

.checkbox {
	position: absolute;
	top: 2vw;
	right: 2vw;
}

.divider {
	background: #ffffff;
	width: 1px;
	height: 150px;
	margin: 0 10px;
}

.subcategory__div {
	display: flex;
	justify-content: space-evenly;
}

.subcategory__info {
	background-image: linear-gradient(to right, #31aae1 0%, #265ac2 100%);
	padding: 1vh 10vw;
	margin-bottom: 2vh;
	border-radius: 15px;
	box-shadow: 0 1px 10px #585858;
	display: flex;
	justify-content: center;
}
