.div__nav {
	background: linear-gradient(to right, #31aae1 0%, #265ac2 100%);
	border-radius: 0 0 25px 25px;
	box-shadow: 0 1px 10px #585858;
	margin-bottom: 3vw;
	padding: 3vh 4vw;
	position:relative;
	z-index: 2;
}

.nav__center {
	font-size: large;
	display: flex;
	justify-content: space-between;
}

.flexItem {
	margin: auto;
}

.link {
	color: black;
	text-decoration: none;
}

.nav__icon {
	color: white;
}

.help__center{
	display: flex;
	justify-content: center;
}

.help__div{
	background: linear-gradient(to right, #31aae1 0%, #265ac2 100%);
	z-index: 3;
	border-radius: 25px;
	margin-top: 2vh;
	position: fixed;
	box-shadow: 0 2px 10px #585858;
	width: 92vw;
	min-height: 70vh;
}

.help__block{
	background: rgba(255, 255, 255, 0.747);
	width: 100vw;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
}

.help__text__div{
	text-align: center;
}

.help__h1{
	margin: 2vh;
	font-size: 5vh;
}

.help__p{
	margin: 0 6vw;
	font-size: 2vh;
}

.help__img{
	width: 88vw;
	margin: 2vh 0;
}

.help__button{
	width: 60vw;
	height: 7vh;
	border-radius: 30px;
	border: none;
	font-size: large;
	font-weight: bold;
	background-color: white;
	color: #000000;
	box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
	margin-bottom: 5vh;
}

@media screen and (min-width: 600px) {
	.desktop__view{
		position: fixed;
		background: linear-gradient(to right, #31aae1 0%, #265ac2 100%);
		height: 100vh;
		width: 100vw;
		z-index: 5;
		top: 0;
		text-align: center;
	}
}

.desktop__img{
	height: 40vh;
	border-radius: 20px;
	margin: 0 20vw;
}

.desktop__svg{
	height: 30vh;
	margin: 0 20vw;
}

@media screen and (max-width: 600px) {
	.desktop__view{
		display: none;
		visibility: hidden;
	}
}