nav {
	background: linear-gradient(to right, #31aae1 0%, #265ac2 100%);
	border-radius: 0 0 25px 25px;
	box-shadow: 0 1px 10px #585858;
	margin-bottom: 3vw;
	padding: 3vh 4vw;
}

.nav__center {
	font-size: larger;
	display: flex;
	justify-content: space-between;
}

.flexItem {
	margin: auto;
}

.link {
	color: black;
	text-decoration: none;
}

.nav__icon {
	color: white;
}

.help__div{
	background: linear-gradient(to right, #31aae1 0%, #265ac2 100%);
	margin-top: 6vh;
	z-index: 2;
	border-radius: 25px;
	position: fixed;
	box-shadow: 0 2px 10px #585858;
	width:92vw;
	height: 70vh;
}

.help__text__div{
	text-align: center;
}

.help__h1{
	margin: 2vh;
	font-size: 6vh;
}

.help__button{
	margin-top: 5vh;
	width: 20vw;
	height: 6vh;
}

.help__p{
	margin: 0 5vw;
}