.pictures__div {
	display: flex;
	justify-content: center;
}

.swipe {
	position: absolute;
}

.card {
	position: relative;
	width: 75vw;
	height: 64vh;
	padding: 3vh 5vw;
	margin: 2vh 3vw;
	border-radius: 20px;
	background-size: cover;
	background-position: center;
}

.card__stop {
	background: linear-gradient(to right, #31aae1 0%, #265ac2 100%);
	position: relative;
	width: 75vw;
	height: 64vh;
	padding: 3vh 5vw;
	margin: 2vh 3vw;
	border-radius: 20px;
	background-size: cover;
	background-position: center;
	box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.card__stop__h1{
	margin-top: 20vh;
}

.card__buttons{
	display: flex;
	justify-content:space-around;
	margin-top: 5vh;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.button__white{
	width: 30vw;
	height: 6vh;
	border-radius: 30px;
	border: none;
	font-size: medium;
	background-color: white;
	box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}